/* General */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* Transition */

a,
.btn {
  transition: all 300ms ease;
}

/* Nav */
#desktop-nav {
  display: none;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  /* Note */
  /* In CSS, vh stands for viewport height and vw for viewport width. As you can see, the first unit is based on the viewport height, and 1vh is equivalent to 1% of the viewport height. */
  /* https://www.freecodecamp.org/news/learn-css-units-em-rem-vh-vw-with-code-examples/ */
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  /* Note */
  /* apply underline to text / link */
  text-decoration: underline;
  text-underline-offset: 1rem; /* Note: apply space vertical to the text / link */
  text-decoration-color: rgb(181, 181, 181);
}

/* Hamburger Menu */

#hamburger-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

#hamburger-nav .logo {
  font-size: 1.5rem;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border-radius: 1rem;
  width: 10rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links hr {
  width: 5rem;
  margin: auto;
}

/* .menu-links a:hover {
  font-size: 1.6rem;
  background-color: rgb(227, 189, 189);
} */

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}

/* Sections */
section {
  padding-top: 4vh;
  height: 97vh;
  width: 50vh;
  margin: 1.3rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* Profile Section */
#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.section__pic-container img {
  /* display: flex; */
  height: 10rem;
  width: 10rem;
  margin: auto 0;
  border-radius: 50%;
  /* border: rgb(53, 53, 53) 0.7rem solid; */
}

.section__text {
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}
.section__text__p2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  text-align: center;
}

#social-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

#social-container a {
  margin: auto 0;
  display: flex;
  justify-content: center;
}

/* #social-container a:hover {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin: auto 0;
  display: flex;
  justify-content: center;
  border: rgb(53, 53, 53) 0.1rem solid;
} */

/* Icon */
.icon {
  cursor: pointer;
  height: 2rem;
}

/* Buttons */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* display: none; */
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* About Section */

#about {
  height: 150vh;
}

.about-containers {
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  margin-top: 5rem;
}

.about-details-container p {
  font-size: 1rem;
}

.about-containers,
.about-details-container {
  display: block;
  padding: 0 0.5rem 0 0.5rem;
}

.arrow {
  display: none;
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  width: 15rem;
  margin: 1rem auto;
}

#about
  .section-container
  .about-details-container
  .about-containers
  .details-container
  img {
  display: none;
}

/* .section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}
*/

/* Experience Sections */
/* #experience {
  position: relative;
}
*/

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
}

.article-container article div span {
  font-weight: bold;
}

article {
  width: 10rem;
  justify-content: spare-around;
  gap: 0.5rem;
}

article img {
  display: none;
}

/* Project Sections */

#projects {
  position: relative;
  height: 200vh;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 1rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* Contact Sections */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.4rem;
}
*/

/* Footer Section */
footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
  margin-bottom: 3rem;
}
